.card-container {
  perspective: 1000px;
  width: 300px;
  height: 350px;
  margin: auto;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
}

.card-container:hover .card {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.card-front {
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-front h3 {
  margin: 15px;
  font-size: 1.2rem;
  color: #ffca2d;
  text-shadow: 0 0 5px #ffca2d, 0 0 10px #ffca2d, 0 0 20px #ffb300,
    0 0 30px #ff9900;
}

.card-back {
  position: relative;
  background: #000;
  transform: rotateY(180deg);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
  color: #ffffff;
  font-size: 0.95rem;
  text-align: left;
  overflow: hidden;
}

.card-back img {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  opacity: 0.15;
  z-index: 0;
  filter: blur(2px);
}

.card-back-content {
  position: relative;
  z-index: 1;
  padding: 10px;
}

#descripcion-titulo {
  margin-bottom: 10px;
  font-size: 1.1rem;
  color: #ffca2d;
  text-shadow: 0 0 5px #ffca2d, 0 0 10px #ffca2d, 0 0 20px #ffb300,
    0 0 30px #ff9900;
  align-items: left;
  justify-content: left;
  text-align: left;
}
